---
import { getCollection } from 'astro:content';
import Base from '../layouts/base.astro';
import { PostDate } from '../components';
import { readingList } from './reading/readingList.ts';

const allPosts = await getCollection('posts');
---

<Base pageTitle="Alan Shortis">
  <h1>Alan Shortis</h1>

  <div>
    {
      allPosts.map(post => (
        <article>
          <a href={`/writing/${post.slug}`}>
            <h1>{post.data.title}</h1>
            <PostDate date={post.data.pubDate} />
          </a>
        </article>
      ))
    }
  </div>
  <div>
    {
      readingList.map(post => (
        <article>
          <a href={post.url} target="_blank" rel="noopener noreferrer">
            <p>{post.type}</p>
            <h1>{post.title}</h1>
            <p>{post.author}</p>
          </a>
        </article>
      ))
    }
  </div>
</Base>
