---
import Base from '../layouts/base.astro';
import { getCollection } from 'astro:content';

const collection = await getCollection('photography').then(c =>
  c.sort((a, b) => Number(b.id) - Number(a.id))
);
---

<Base pageTitle="Alan Shortis | Photography" description="Photographs over the last 20 years">
  <section class="page" aria-labelledby="photography">
    <h1 id="photography" class="visually-hidden">Photography</h1>
    <ol>
      {
        collection.map(photoYear => (
          <li class="year">
            <h2 class="year__title">{photoYear.id}</h2>
            <ul>
              {photoYear.data.map(photo => (
                <li>
                  {photo.name}, {photo.location}, {photo.camera}, {photo.lens}, {photo.film}
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ol>
  </section>
</Base>

<style lang="scss">
  @use '../styles/mixins' as *;

  .page {
    display: flex;
    flex-direction: column;
    gap: var(--step-5);
  }

  .year {
    block-size: 100%;
    min-block-size: 100vh;
    &__title {
      font-size: var(--step-5);
      font-weight: bold;
    }
  }
</style>
