---
import { photographyData } from '../content/photography';

interface Props {
  photoId: string;
  hideDetails?: boolean;
  extraCaption?: string;
}

const S3 = import.meta.env.S3;
const { photoId, hideDetails, extraCaption } = Astro.props;

const year = photographyData.find(year => year.photos.some(photo => photo.name === photoId));
const featuredPhoto = year?.photos.find(photo => photo.name === photoId)!;
const featuredPhotoYear = year?.id;

const { name, ratio, altText, location, camera, lens, film, note } = featuredPhoto;

const renderCaption = !hideDetails || extraCaption;
---

<!-- Must be a child of `PhotoLightbox` -->
<figure class="photo">
  <a
    href={`#${name}`}
    data-photo-name={name}
    data-photo-ratio={ratio}
    data-photo-alt={altText}
    class="photo__photo"
    style={`--ratio: ${ratio}`}
  >
    <img
      src={`${S3}${name}.avif`}
      srcset={`${S3}${name}-2x.avif 2x, ${S3}${name}.avif 1x`}
      alt={altText}
      loading="lazy"
      draggable="false"
    />
  </a>
  {
    renderCaption && (
      <figcaption class="photo__caption">
        {!hideDetails && (
          <span>
            {[note, location, featuredPhotoYear].filter(Boolean).join(', ')}.{' '}
            {[camera, lens, film].filter(Boolean).join(', ')}
          </span>
        )}
        {extraCaption && <span>{extraCaption}</span>}
      </figcaption>
    )
  }
</figure>

<style lang="scss">
  @use '../styles/mixins' as *;

  .photo {
    margin-block: var(--step-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:focus-visible {
      @include focus-outline;
    }
    &__photo {
      aspect-ratio: var(--ratio);
      border-radius: var(--radius);
      inline-size: calc(sqrt(var(--ratio)) / sqrt(3 / 2) * 80%);
      margin-inline: auto;
      overflow: hidden;
      @include medium {
        align-self: center;
        inline-size: calc(sqrt(var(--ratio)) / sqrt(3 / 2) * 100%);
      }
    }
    &__caption {
      display: flex;
      flex-direction: column;
      gap: 0.5lh;
      span {
        display: inline-block;
      }
    }
  }
</style>
