---
const S3 = import.meta.env.S3;
---

<figure>
  <div class="photos">
    <img
      src={`${S3}scan-example.avif`}
      srcset={`${S3}scan-example-2x.avif 2x, ${S3}scan-example.avif 1x`}
      alt="Black and white photo. A person leaning into a ticket or information booth at a busy railway station. It's dark, and their white shirt is contrasted against the background. This image was captured with a scanner, and lacks any visible grain. Dark areas are too dark, with no detail to recover"
    />
    <img
      src={`${S3}camera-example.avif`}
      srcset={`${S3}camera-example-2x.avif 2x, ${S3}camera-example.avif 1x`}
      alt="Black and white photo. A person leaning into a ticket or information booth at a busy railway station. It's dark, and their white shirt is contrasted against the background. This image was captured with a camera, and shows visible grain. Dark areas are dark, but there is detail to recover."
    />
  </div>
  <figcaption>
    We can put aside the quality of the photograph for now (it's supposed to be dark), but as a comparision
    between the scanner and the camera there is a clear difference. The scanner smooths grain and adds
    contrast, losing detail I want to preserve. Through a lot of trial and error, this was as good as I could
    get. The camera provides a much better starting point, capturing grain and detail that we can hone in the
    editing process.
  </figcaption>
</figure>

<style lang="scss">
  figure {
    container-type: inline-size;
  }
  .photos {
    display: flex;
    gap: var(--space);
    img {
      flex: 1;
      min-width: 0;
    }
    @container (max-width: 35rem) {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
