---
import '../styles/global.scss';
import { Header, Footer } from '../components';

interface Props {
  pageTitle: string;
  description: string;
}

const { pageTitle, description } = Astro.props;
const url = Astro.url;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://short.is/og.png" />
    <meta property="og:url" content={url} />
    <link rel="preload" href="/fonts/soehne-halbfett.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/soehne-buch.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/soehne-mono-buch.woff2" as="font" type="font/woff2" crossorigin />
  </head>
  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  @use '../styles/mixins' as *;

  .main {
    margin-block: var(--space--large);
    margin-inline: auto;
    inline-size: clamp(0%, 100%, 85rem);
    padding-inline: var(--space--large);
    @include small {
      padding-inline: var(--space);
    }
  }
</style>
