---
import '../styles/global.scss';
import { Header, Footer, SchemeToggle } from '../components';

interface Props {
  pageTitle: string;
  description: string;
}

const { pageTitle, description } = Astro.props;
const url = Astro.url;

const isDev = import.meta.env.DEV;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <SchemeToggle init />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://short.is/og.png" />
    <meta property="og:url" content={url} />
    <link rel="preload" href="/fonts/soehne-halbfett.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/soehne-buch.woff2" as="font" type="font/woff2" crossorigin />
    {
      !isDev && (
        <script
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="14b2fbe3-f5b5-4690-8962-92505e4ea050"
        />
      )
    }
  </head>
  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  @use '../styles/mixins' as *;

  .main {
    margin-block: var(--space--large);
    padding-inline: var(--space);
    @include fixed-width;
  }
</style>
