<decimal-analog class="clock">
  <span class="js-time clock__literal"></span>
  <div class="clock__face">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 399.458 169.221" class="clock__logo">
      <title>Braun logo</title>
      <path
        d="M-755.774 173.48h-25.61V94.615h25.61c17.55 0 25.677 13.085 25.677 36.502 0 32.155-9.752 42.361-25.677 42.361m-25.61-193.281h24.984c12.897 0 23.335 9.49 23.335 35.636 0 26.423-12.063 35.563-23.335 35.563h-24.984zm68.344 89.83v-.217c10.154-7.127 26.385-19.384 26.385-58.778 0-50.898-26.557-73.95-62.432-73.95h-78.348V216.57h77.938c44.172 0 65.683-32.745 65.683-81.532 0-45.516-17.856-58.084-29.226-65.011M-599.12-19.802h24.983c12.897 0 23.299 9.49 23.299 35.636 0 26.423-12.026 35.563-23.299 35.563h-24.984zm93.87 142.838c0-34.83-10.81-44.613-25.526-53.007v-.217c10.155-7.127 26.244-19.384 26.244-58.778 0-50.898-26.415-73.95-62.29-73.95h-78.35V216.57h46.02l.031-121.955h24.976c13.1 0 22.462 10.884 22.462 35.585v86.37h46.409zM-415.472-88.182c0-21.016 19.295-23.73 29.956-23.73 10.662 0 29.882 2.661 29.882 23.73l-.017 139.58h-59.852zm29.956-67.868c-19.466 0-75.941 4.414-75.941 60.926V216.61h46.043V94.639h59.785l-.016 121.918h46.082v-311.68c0-56.618-56.548-60.927-75.953-60.927M-171.645-62.976V157.04c0 11.197-9.258 18.677-23.013 18.677-13.816 0-22.903-7.493-22.903-18.677l-.036-220.016-46.03.059-.01 227.307c0 43.28 44.493 54.82 69.03 54.82 24.312 0 68.999-11.6 68.999-54.87V-62.977zM12.364 216.535l-.018-219.92c0-11.197-9.251-18.676-22.999-18.676-13.816 0-22.918 7.5-22.918 18.675l-.014 219.921-46.045.036V-10.736c0-43.279 44.502-54.82 69.037-54.82 24.313 0 68.984 11.6 68.984 54.871v227.219H12.364"
        transform="translate(373.127 70.37)scale(.45094)"></path></svg
    >
    <div class="clock__segment"></div>
    <div class="clock__segment"></div>
    <div class="clock__segment"></div>
    <div class="clock__segment"></div>
    <div class="clock__segment"></div>
    <div class="clock__hand clock__hand--hours"></div>
    <div class="clock__hand clock__hand--minutes"></div>
    <div class="clock__hand clock__hand--seconds"></div>
  </div>
</decimal-analog>

<script>
  import type { DecimalTime } from '../../shared-types';

  class AnalogDecimalClock extends HTMLElement {
    private worker: Worker;
    private time: HTMLTimeElement;
    private pad: (num: number) => string;

    constructor() {
      super();
      this.worker = new Worker(new URL('/src/workers/decimal-clock.ts', import.meta.url));
      this.time = this.querySelector('.js-time')!;

      this.pad = (num: number) => num.toString().padStart(2, '0');

      this.style.setProperty('--seconds-transform', 'rotate(0turn)');
      this.style.setProperty('--minutes-transform', 'rotate(0turn)');
      this.style.setProperty('--hours-transform', 'rotate(0turn)');

      this.worker.onmessage = (event: MessageEvent<DecimalTime>) => {
        this.setDecimalTime(event.data);
      };
    }

    disconnectedCallback() {
      this.worker.terminate();
    }

    private setDecimalTime(decimalTime: DecimalTime): void {
      const { hours, minutes, seconds } = decimalTime;
      const formattedTime = `${hours}:${this.pad(minutes)}:${this.pad(seconds)}`;

      this.time.innerHTML = formattedTime;
      this.time.setAttribute('datetime', formattedTime);
      this.style.setProperty('--seconds-transform', `rotate(0.${this.pad(seconds)}turn)`);
      this.style.setProperty('--minutes-transform', `rotate(0.${this.pad(minutes)}turn)`);
      this.style.setProperty('--hours-transform', `rotate(0.${hours}turn)`);
    }
  }

  customElements.define('decimal-analog', AnalogDecimalClock);
</script>

<style lang="scss">
  @use '../../styles/mixins' as *;
  .clock {
    margin-block: var(--space--large);
    display: flex;
    justify-content: center;
    &__literal {
      @include visually-hidden;
    }
    &__logo {
      position: absolute;
      top: 25%;
      left: calc(50% - 20px);
      width: 40px;
      z-index: 1;
      fill: var(--background);
    }
    &__face {
      aspect-ratio: 1 / 1;
      width: 15rem;
      background-color: var(--foreground);
      border-radius: 50%;
      display: grid;
      place-content: center;
      position: relative;
    }
    &__segment {
      grid-area: 1 / 1;
      height: 15rem;
      opacity: 0.75;
      width: 2px;
      background: linear-gradient(
        to bottom,
        var(--foreground) 0%,
        var(--foreground) 2px,
        var(--background) 2px,
        var(--background) 17px,
        var(--foreground) 17px,
        var(--foreground) calc(100% - 17px),
        var(--background) calc(100% - 17px),
        var(--background) calc(100% - 2px),
        var(--foreground) calc(100% - 2px),
        var(--foreground) 100%
      );

      &:nth-child(2) {
        rotate: 0.1turn;
      }
      &:nth-child(3) {
        rotate: 0.2turn;
      }
      &:nth-child(4) {
        rotate: 0.3turn;
      }
      &:nth-child(5) {
        rotate: 0.4turn;
      }
    }
    &__hand {
      height: calc(50% - 18px);
      background-color: var(--background);
      position: absolute;
      left: calc(50% - 1px);
      bottom: 50%;
      transform-origin: bottom;
      z-index: 1;
      &--seconds {
        width: 2px;
        border-radius: 2px;
        background-color: var(--seconds);
        transform: var(--seconds-transform);
        &::after {
          content: '';
          display: block;
          width: 18px;
          height: 18px;
          background-color: var(--seconds);
          border-radius: 50%;
          position: absolute;
          left: calc(50% - 9px);
          bottom: -9px;
        }
      }
      &--minutes {
        width: 5px;
        border-radius: 5px;
        background-color: var(--background);
        transform: var(--minutes-transform);
        transform-origin: bottom;
        left: calc(50% - 2.5px);
      }
      &--hours {
        width: 7px;
        height: calc(50% - 40px);
        border-radius: 7px;
        background-color: var(--background);
        transform: var(--hours-transform);
        transform-origin: bottom;
        left: calc(50% - 3.5px);
      }
    }
  }
</style>
